img{
    height: 30%;
    width: 30%;
    box-shadow: 7px 7px 5px #888888;
}
.movie-container{
    height: 40%;
    width: 40%;
}
.movie{
    width: 45%;
    border-style: double;
    margin: 10px;
    padding: 10px;
    box-shadow: 7px 7px 5px #888888;


}

#movie-list{
    list-style-type: none;
}