body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4caf50;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  